# **Estatística com Python**

## **Amostragem**

### **Importando as Bibliotecas**

In [ ]:
import pandas as pd
import random
import numpy as np

### **Importando a Base de Dados**

In [ ]:
df = pd.read_csv('census.csv')

In [ ]:
df.shape

(32561, 15)

In [ ]:
df.head()

   age          workclass  final-weight  ... hour-per-week  native-country  income
0   39          State-gov         77516  ...            40   United-States   <=50K
1   50   Self-emp-not-inc         83311  ...            13   United-States   <=50K
2   38            Private        215646  ...            40   United-States   <=50K
3   53            Private        234721  ...            40   United-States   <=50K
4   28            Private        338409  ...            40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
df.tail()

       age      workclass  final-weight  ... hour-per-week  native-country  income
32556   27        Private        257302  ...            38   United-States   <=50K
32557   40        Private        154374  ...            40   United-States    >50K
32558   58        Private        151910  ...            40   United-States   <=50K
32559   22        Private        201490  ...            20   United-States   <=50K
32560   52   Self-emp-inc        287927  ...            40   United-States    >50K

[5 rows x 15 columns]

##### **NOTA:**

*   **`read_csv()`**: Carrega os dados.
*   **`shape`**: Informa a quantidade de linhas e colunas da nossa base de dados.
*   **`head()`** e **`tail()`**: Mostra os **5** primeiros e os **5** últimos registros da nossa base de dados, respectivamente. Podemos alterar esse comportamento, passando como parâmetro a quantidade de registros que queremos visualizar. Por exemplo:

> **`dataset.head(10)`**

> **`dataset.tail(10)`**

### **Amostra Aleatória Simples**

In [ ]:
df_amostra_aleatoria_simples = dataset.sample(n = 100, random_state = 1)

##### **NOTA:**

*   **`sample()`**: Gera uma amostra da base de dados.

Como parâmetros da função **`sample()`**, podesmos passar:

*   **`n`**: Quantidade de registros que queremos na amostra.
*   **`random_state`**: Gera uma amostra randômica fixa, por exemplo:

> **`df_amostra_aleatoria_simples_1 = dataset.sample(n = 100, random_state = 1)`**

> **`df_amostra_aleatoria_simples_2 = dataset.sample(n = 100, random_state = 2)`**

In [ ]:
df_amostra_aleatoria_simples.shape

(100, 15)

In [ ]:
df_amostra_aleatoria_simples.head()

       age          workclass  ...  native-country  income
9646    62   Self-emp-not-inc  ...   United-States   <=50K
709     18            Private  ...   United-States   <=50K
7385    25            Private  ...   United-States    >50K
16671   33            Private  ...   United-States   <=50K
21932   36            Private  ...   United-States   <=50K

[5 rows x 15 columns]

In [ ]:
def amostra_aleatoria_simples(df, amostra):
    return df.sample(n = amostra, random_state = 1)

In [ ]:
amostra_aleatoria_simples(df, 100)

       age          workclass  ...  native-country  income
9646    62   Self-emp-not-inc  ...   United-States   <=50K
709     18            Private  ...   United-States   <=50K
7385    25            Private  ...   United-States    >50K
16671   33            Private  ...   United-States   <=50K
21932   36            Private  ...   United-States   <=50K
...    ...                ...  ...             ...     ...
27578   64                  ?  ...   United-States   <=50K
2544    19                  ?  ...   United-States   <=50K
2486    75                  ?  ...   United-States   <=50K
13143   28            Private  ...   United-States   <=50K
551     36   Self-emp-not-inc  ...   United-States   <=50K

[100 rows x 15 columns]

##### **NOTA:** Criando uma função para retornarmos uma amostra com a quantidade de registor que quisermos.